<%% <%= plural_name %>.each do |<%= singular_name %>| %>
  <li class="<%= singular_name %>">
    <%%= render 'object', :<%= singular_name %>=><%= singular_name %> %>
		
		<ul class="actions">
		<li><%%= link_to 'Details',  <%= singular_name %> %></li>
    <li><%%= link_to 'Div',      <%= singular_name %>_path(<%= singular_name %>), :remote => { :update => 'scratchpad', :format => :htmlf} %></li>
    <li><%%= link_to 'Lightbox', <%= singular_name %>_path(<%= singular_name %>, :format => :htmlf), :rel=>'facebox' %></li>
		</ul>
  </li>
<%% end %>