<%% <%= plural_name %>.each do |<%= singular_name %>| %>
  <li id="<%%= dom_id(<%= singular_name %>, @_dom_prefix) %>" class="<%= singular_name %>">
    <%%= render 'object', :<%= singular_name %>=><%= singular_name %> %>
		
		<ul class="actions">
		<li>
    <%%= link_to 'Details (Page)',     <%= singular_name %> %> |
    <%%= link_to 'Details (DIV)',      <%= singular_name %>_path(<%= singular_name %>), :remote=>{:update=>'scratchpad', :format=>:htmlf} %> |
    <%%= link_to 'Details (Lightbox)', <%= singular_name %>_path(<%= singular_name %>), :rel=>'facebox' %>
		</li>
		</ul>
  </li>
<%% end %>