<%%= form_for(@<%= singular_name %>, :remote=>remote) do |f| %>
	<%%= render 'shared/error_messages', :target=>@<%= singular_name %> %>

<% for attribute in attributes -%>
  <div class="field">
    <%%= f.label :<%= attribute.name %> %><br />
    <%%= f.<%= attribute.field_type %> :<%= attribute.name %> %>
  </div>
<% end -%>

  <div class="actions">
    <%%= f.submit %>
  </div>
<%% end %>
