<div class="<%= singular_name %>_container">
  <h1>Showing <%= singular_name %></h1>
  <p class="notice"><%%= notice %></p>
  <%%= render 'object', :<%= singular_name %>=>@<%= singular_name %> %>

  <ul class="menu">
    <li>
      <%% if request.xhr? %>
      <%%= link_to 'Edit', edit_<%= singular_name %>_path(@<%= singular_name %>), :remote => { :replace => '.<%= singular_name %>_container', :format => :htmlf} %>
      <%% else %>
      <%%= link_to 'Edit', edit_<%= singular_name %>_path(@<%= singular_name %>) %>
      <%% end %>
  	</li>
  </ul>
</div>