<div id="scratchpad"></div>

<%%= render 'index' %>

<ul class="actions">
  <li>
		<%%= link_to 'List (Lightbox)', <%= plural_name %>_path(:_dom_prefix=>'lb'), :rel=>'facebox' %>
  </li>
	<li>
		<%%= link_to 'New <%= singular_name %> (Page)', new_<%= singular_name %>_path %> |
		<%%= link_to 'New <%= singular_name %> (DIV)', new_<%= singular_name %>_path, :remote=>{:update=>'scratchpad', :format=>:htmlf} %> |
		<%%= link_to 'New <%= singular_name %> (Lightbox)', new_<%= singular_name %>_path, :rel=>'facebox' %>
	</li>
</ul>